<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1 ng-bind="decisionGraph.topic"></h1>
    </div>
    <p class="lead" ng-if="currentNode.question" ng-bind="currentNode.question"></p>
    <div ng-cloak ng-if="currentNode.decisions" class="form-group">
      <div class="btn-group hidden-xs hidden-sm btn-group-lg btn-group-justified" data-toggle="buttons">
        <label class="btn btn-primary" ng-repeat="decision in currentNode.decisions" ng-click="makeDecision($index)">
          <input type="radio" name="options" autocomplete="off">
          {{decision.label}}
        </label>
      </div>
      <div class="form-group hidden-md hidden-lg">
        <button class="btn btn-primary btn-block" ng-repeat="decision in currentNode.decisions" ng-click="makeDecision($index)" ng-bind="decision.label"></button>
      </div>
    </div>
    <p ng-if="!currentNode.decisions" class="lead" ng-bind="currentNode.answer"></p>
    <hr/>
    <div class="form-group">
      <button class="btn btn-warning btn-block" ng-click="reset()">
        <span class="hidden-xs hidden-sm"><i class="fa fa-fw fa-refresh"></i></span>
        <span>Od początku</span>
      </button>
    </div>
  </div>
</div>
